.about-div {
    text-align: left;
    position: relative;
    padding-top: 0.5em;
    display: inline-grid;
    grid-template-columns: auto auto; /* Define two columns */
    grid-template-rows: 1fr 2fr; /* Define two rows */
    gap: 3em;
    justify-items: center;
}

.left-div {
    text-align: left;
    grid-row: 1 / 4;
    grid-column: 1;
    justify-items: left;
}

.right-div {
    text-align: left;
    color: #ffffff;
    vertical-align: top;
    background-color: #6b6b6b5a !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    width: 95%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    padding-right: 2em;
}

.list {
    font-size: 0.9em;
    text-align: left;
    list-style-position: inside;
}

.background-img {
    background-image: url("/image.png");
    grid-column: 2;
    grid-row: 2 / 4;
    justify-items: top;
    width: 100%;
    height: 100%;
    background-size: cover;
}