img {
    width: 75%;
    height: auto;
    border: 1px solid #000000;
}

h2 {
    text-align: center;
    grid-column: 1 / 3;
}

li {
    padding: 0.5em;
}

.container {
  display: ruby;
  color: #ffffff;
  text-align: left;
  justify-content: center;
}

.project {
    background-color: #6b6b6b5a !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    width: 90%;
    margin-top: 2em;
    display: grid;
    gap: 1em;
    padding-bottom: 2em;
}

.images {
    grid-column: 1;
    display: grid;
    text-align: center;
    justify-items: center;
}

.description {
    display: grid;
    grid-column: 2;
    align-items: center;
    justify-items: start;
    text-align: left;
    padding-left: 2em;
}

.description-list {
    padding-right: 1em;
    font-size: 1em;
    text-align: left;
    justify-self: start;
    padding-left: 1em;
    margin-left: 0em;
}

#top-text {
    grid-row: 1;
}

#bottom-text {
    grid-row: 2;
}

#upper-img {
    margin-bottom: 0.5em;
    grid-row: 1;
}

#lower-img {
    margin-top: 0.5em;
    grid-row: 2;
}